.bg{
 height: 50%;
 width: 535px;
 background: var(--ion-color-dark) url('../../assets/img-edu-mind/fondo-login-edu-mind.svg') no-repeat center center/cover;
 border-radius: 0 0 45% 45%;
 margin-left: -20vw;
 position: relative;
 justify-content: center;
}
ion-fab{
    justify-content: center;
    align-items: center;

    ion-icon{
        font-size: 2.5rem;
    }
}
ion-list{
    
    ion-list-header{
        margin-top: 20px;
        font-weight: 1000;
        font-size: 1.5rem;
    }
    ion-item{
       
    }
    p {
        font-size: 0.8rem;
        padding-left: 5vw;
        color: gray;
    }
}



.inputForm {
    border: 1.5px solid #ecedec;
    border-radius: 10em;
    height: 50px;
    width: 800px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
    background-color: white;
  }
  
  .input {
    margin-left: 10px;
    border-radius: 10rem;
    border: none;
    width: 100%;
    height: 100%;
  }
  
  .input:focus {
    outline: none;
  }
  
  .inputForm:focus-within {
    border: 1.5px solid #006b7e;
  }