
<ion-app>
  <ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="navigateTo('tabs')">
          <ion-icon color="resalte" slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title color="resalte">Vinculación</ion-title>
      <ion-buttons slot="end">
        <ion-button class="bordered" fill="solid" color="white">
          <ion-icon color="resalte" name="notifications"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-grid>
    <!-- Sección Vincular dispositivo -->
    <ion-row>
      <ion-col size="12">
        <ion-card class="custom-card">
          <ion-card-header>
            <ion-card-title>Vincular dispositivo</ion-card-title>
          </ion-card-header>
          <ion-card-content class="center-content">
            <div class="device-box">
              <ion-icon name="add-outline"></ion-icon>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Sección Marcas -->
    <ion-row>
      <ion-col size="12" class="section-title">
        <h3>Marcas disponibles</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- Botón Apple -->
      <ion-col size="6">
        <ion-card class="brand-card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Apple_logo_black.svg" alt="Apple" />
        </ion-card>
      </ion-col>

      <!-- Botón Huawei -->
      <ion-col size="6">
        <ion-card class="brand-card">
          <img src="assets/huawei.svg" alt="Huawei" />
        </ion-card>
      </ion-col>

      <!-- Botón Samsung -->
      <ion-col size="6">
        <ion-card class="brand-card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/2/24/Samsung_Logo.svg" alt="Samsung" />
        </ion-card>
      </ion-col>

      <!-- Botón Xiaomi -->
      <ion-col size="6">
        <ion-card class="brand-card">
          <img src="assets/icon/xiaomi-logo-2.svg" alt="Xiaomi" />
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
</ion-app>
