<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon color="resalte" slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="bordered" fill="solid" color="white">
        <ion-icon color="resalte" name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
<div id="outer-board">
  <div id="board"> 
    <div id="banner">
      <div> 
        <div id="message"></div>
        <div id="new-game">Tap here to start!</div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
    <div class="empty">
      <div class="inner-tile">
        <div class="inner-inner-tile"></div>
      </div>
    </div>
  </div>
  <div id="stats">
    <div class="labels">Scores
      <div class="frame" id="score">0</div>
    </div>
   <div class="controls">
    <ion-button (click)="newGame()">New Game</ion-button>
    <ion-button (click)="downKeyPress()">Move Down</ion-button>
    <ion-button (click)="rotate()">Rotate</ion-button>
    <ion-button (click)="leftKeyPress()">Move Left</ion-button>
    <ion-button (click)="rightKeyPress()">Move Right</ion-button>
  </div>
  </div>
</div>
</ion-content>
